body {
	background-color: white;
}

li {
	color: black;
}

#cool-photo {
	width: 300px;
}

#helloskepta {
	width: 500px;
}

#right-div {
	background-color: orange;
	text-align: left;
}

#header-div {
	text-align: left;
}
